<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a new Post #</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta charset="utf-8" />
</head>
<body>
<div th:replace="home :: header"></div>
<main class="createpost fillin">
    <div class="container-fluid">
        <h1>Create New Post</h1>
        <form action="#" th:action="@{'/home/' + ${user.name} + '/createpost'}" method="post">
            <div><input class="form-control" placeholder="Title..." type="text" name="addtitle"/></div>
            <div><input class="form-control" placeholder="Content..." type="text" name="addcontent"/></div>
            <div class="submitandcancel"><button class="btn btn-info" type="submit">Create</button>
                <a class="btn btn-danger" role="button" th:href="@{'/home/' + ${user.name}}">Cancel</a></div>
        </form>
    </div>
</main>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>
