<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create a new Post #</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Create subreddit</h1>
    <form action="#" th:action="@{'createSubReddit?username=' + ${user.name}}" method="post" th:object="${subRedditForm}">
        <div><input class="form-control createpost-title" placeholder="Name..." type="text" th:field="*{name}"/></div>
        <div><input class="form-control" placeholder="Content..." type="text" th:field="*{description}"/></div>
        <div class="submitandcancel"><button class="btn btn-info" type="submit">Create</button></div>
    </form>

    <h1>Subreddit list</h1>
    <div th:each="subreddit : ${subreddits}">
        <div th:text="${subreddit.name}"></div>
        <div th:text="${subreddit.description}"></div>
        <div th:text="${subreddit.creationDate}"></div>
    </div>
</body>
</html>