<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Reddit-Home #</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta charset="utf-8" />
</head>
<body>
<!--<div th:if="${#authentication.name} == ${user.name}">-->
<header th:fragment="header">
    <nav class="navbar navbar-dark bg-company-blue">
        <div class="container home">
            <div class="navbar-header">
                <a class="logo">
                    <img class="img-responsive" th:src="@{/images/redditlogo.png}"/>
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active" th:unless="${user == null}">
                        <a class="nav-link" th:href="@{'/?username=' + ${user.name}}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="active" th:if="${user == null}">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li th:if="${user != null}">
                        <a th:href="@{'/createpost?username=' + ${user.name}}">Create Post</a>
                    </li>
                    <li th:if="${user == null}">
                        <a onclick="createPostNotSignIn()">Create Post</a>
                    </li>
                    <li th:if="${user == null}">
                        <a href="/register">Sign Up</a>
                    </li>
                    <li th:if="${user == null}">
                        <a href="/login">Sign In</a>
                    </li>
                    <li class="nav-item dropdown" th:if="${user != null}">
                        <!--<a class="nav-link dropdown-toggle" id="dropdown01"-->
                           <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li><a class="dropdown-item" th:href="@{'/account?username=' + ${user.name}}">Account Info</a></li>-->
                            <!--<li><a class="dropdown-item" th:href="@{'/changepassword?username=' + ${user.name}}">Change Password</a></li>-->
                            <!--<li>-->
                                <!--&lt;!&ndash;<a href="/logout">Logout</a>&ndash;&gt;-->
                                <!--<form th:action="@{/logout}" method="post">-->
                                    <!--<input type="submit" value="Sign out"/>-->
                                <!--</form>-->
                            <!--</li>-->
                        <!--</ul>-->
                        <a class="nav-link" th:href="@{'/mypost?username=' + ${user.name}}">My Account</a>
                    </li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Sign out"/>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <main role="main">
        <h1>Trending Posts </h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Upvote</th>
                    <th>Score</th>
                    <th>Downvote</th>
                    <th>Title</th>
                    <th>Creation Time</th>
                    <th>Author</th>
                </tr>
                </thead>
                <tbody th:each="post:${posts}">
                <tr th:with="vote=${voteService.findByPostAndUser(post, user)}">
                    <td th:text="${1 + postStat.index}"></td>
                    <td th:if="${user == null}"><button class="btn" name="upvote" onclick="voteNotSignin()">
                        <span class="glyphicon glyphicon-thumbs-up"></span></button></td>
                    <form th:if="${user != null}" action="#" th:action="@{'/upvote?username=' + ${user.name} + '&amp;postid=' + ${post.id}}" method="post">
                        <td th:if="${vote == null or vote.vote == -1}"><button class="btn" type="submit" name="upvote" th:value="${post.id}">
                            <span class="glyphicon glyphicon-thumbs-up"></span></button></td>
                        <td th:if="${vote != null and vote.vote == 1}"><button class="btn btn-success" type="submit" name="upvote" th:value="${post.id}">
                            <span class="glyphicon glyphicon-thumbs-up"></span></button></td>
                    </form>
                    <td th:text="${post.score}"></td>
                    <td th:if="${user == null}"><button class="btn" name="downvote" onclick="voteNotSignin()">
                        <span class="glyphicon glyphicon-thumbs-down"></span></button></td>
                    <form th:if="${user != null}" action="#" th:action="@{'/downvote?username=' + ${user.name} + '&amp;postid=' + ${post.id}}" method="post">
                        <td th:if="${vote == null or vote.vote == 1}"><button class="btn" type="submit" name="downvote" th:value="${post.id}">
                            <span class="glyphicon glyphicon-thumbs-down"></span></button></td>
                        <td th:if="${vote != null and vote.vote == -1}"><button class="btn btn-danger" type="submit" name="downvote" th:value="${post.id}">
                            <span class="glyphicon glyphicon-thumbs-down"></span></button></td>
                    </form>
                    <td th:if="${user != null}"><a th:href="@{'/post?username=' + ${user.name} + '&amp;postid=' + ${post.id}}" th:text="${post.title}"></a></td>
                    <td th:if="${user == null}"><a th:href="@{'/post?postid=' + ${post.id}}" th:text="${post.title}"></a></td>
                    <td th:text="${post.creationDate}"></td>
                    <td th:text="${post.user.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row page">
            <div class="form-group col-md-1">
                <select class="form-control pagination" id="pageSizeSelect">
                    <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                            th:selected="${pageSize} == ${selectedPageSize}"></option>
                </select>
            </div>
            <div th:if="${posts.totalPages != 1}" class="form-group col-md-11 pagination-centered">
                <ul class="pagination">
                    <li th:class="${posts.number == 0} ? disabled">
                        <a th:if="${user == null}" class="pageLink" th:href="@{''(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                        <a th:if="${user != null}" class="pageLink" th:href="@{'?username=' + ${user.name} (pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
                    </li>
                    <li th:class="${posts.number == 0} ? disabled">
                        <a th:if="${user == null}" class="pageLink" th:href="@{''(pageSize=${selectedPageSize}, page=${posts.number})}">&larr;</a>
                        <a th:if="${user != null}" class="pageLink" th:href="@{'?username=' + ${user.name} (pageSize=${selectedPageSize}, page=${posts.number})}">&larr;</a>
                    </li>
                    <li th:class="${posts.number == (page - 1)} ? 'active pointer-disabled'"
                        th:each="page : ${#numbers.sequence(pager.firstButton, pager.finalButton)}">
                        <a th:if="${user == null}" class="pageLink" th:href="@{'' (pageSize=${selectedPageSize}, page=${page})}"
                           th:text="${page}"></a>
                        <a th:if="${user != null}" class="pageLink" th:href="@{'?username=' + ${user.name} (pageSize=${selectedPageSize}, page=${page})}"
                           th:text="${page}"></a>
                    </li>
                    <li th:class="${posts.number + 1 == posts.totalPages} ? disabled">
                        <a th:if="${user == null}" class="pageLink"
                           th:href="@{'' (pageSize=${selectedPageSize}, page=${posts.number + 2})}">&rarr;</a>
                        <a th:if="${user != null}" class="pageLink"
                           th:href="@{'?username=' + ${user.name} (pageSize=${selectedPageSize}, page=${posts.number + 2})}">&rarr;</a>
                    </li>
                    <li th:class="${posts.number + 1 == posts.totalPages} ? disabled">
                        <a th:if="${user == null}" class="pageLink"
                           th:href="@{'' (pageSize=${selectedPageSize}, page=${posts.totalPages})}">&raquo;</a>
                        <a th:if="${user != null}" class="pageLink"
                           th:href="@{'?username=' + ${user.name} (pageSize=${selectedPageSize}, page=${posts.totalPages})}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</div>
<script>
    function voteNotSignin() {
        alert("Please sign in or sign up to vote!");
    }
    function createPostNotSignIn() {
        alert("Please sign in or sign up to create post!");
    }
</script>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>
