<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Reddit-Home #</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta charset="utf-8" />
</head>
<body>
<div th:replace="home :: header"></div>
<div class="container-fluid">
       <main role="main">
            <h1 th:text="'Post: ' + ${post.title}"></h1>
            <div><h5 th:text="'Created by ' + ${post.user} + ' at ' + ${post.creationDate}"></h5></div>
            <div><h3>Content</h3></div>
            <div><p th:text="${post.content}"></p></div>
            <h3>Comments</h3>
            <form th:if="${user != null}" action="#" th:action="@{'/comment?username=' + ${user.name} + '&amp;postid=' + ${post.id}}" method="post">
                <div><input class="form-control" placeholder="Comment..." type="text" name="addcomment"/></div>
                <div><button class="btn btn-info" type="submit">Comment</button>
                    <a class="btn btn-danger" role="button" th:href="@{'/post?username=' + ${user.name} + '&amp;postid=' + ${post.id}}">Cancel</a></div>
            </form>
            <div th:if="${user == null}"><p style="color: red">Sign in or register to comment</p></div>
            <div th:each="comment:${comments}" class="comment-block">
                <!--<div><p th:text="'#' + ${commentStat.index + 1}"></p></div>-->
                <div><p th:text="${comment.content}"></p></div>
                <div><p th:text="'by ' + ${comment.user} + ' at ' + ${comment.creationDate}" style="font-style: italic"></p></div>
            </div>
        </main>
</div>
<script>
    function voteNotSignin() {
        alert("Please sign in or sign up to vote!");
    }
    function createPostNotSignIn() {
        alert("Please sign in or sign up to create post!");
    }
</script>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>
