<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Reddit-Home #</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta charset="utf-8" />
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-dark bg-company-blue">
        <div class="container home">
            <div class="navbar-header">
                <a class="logo">
                    <img class="img-responsive" th:src="@{/images/redditlogo.png}"/>
                </a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container-fluid">
    <main role="main">
        <h1>Trending Posts </h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Score</th>
                    <th>Title</th>
                    <th>Creation Time</th>
                    <th>Author</th>
                </tr>
                </thead>
                <tbody th:each="post:${posts}">
                <tr>
                    <td th:text="${1 + postStat.index}"></td>
                    <td th:text="${post.score}"></td>
                    <td><a th:href="'/reddit/post/' + ${post.id}" th:text="${post.title}">></a></td>
                    <td th:text="${post.creationDate}"></td>
                    <td th:text="${post.user.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</body>
</html>
