<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SubReddits #</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta charset="utf-8" />
</head>
<body>
    <div th:replace="home :: header"></div>
    <h1>SubReddits</h1>
    <div class="subReddits-container">
        <div class="subReddits-left">
            <div class="subReddits-left-inner" th:each="subReddit : ${subReddits}">
                <div class="subReddits-title">
                    <a th:if="${user == null}" th:text="${subReddit.name}" th:href="@{'/subReddit?subRedditName=' + ${subReddit.name}}"></a>
                    <a th:if="${user != null}" th:text="${subReddit.name}" th:href="@{'/subReddit?subRedditName=' + ${subReddit.name} + '&amp;username=' + ${user.name}}"></a>
                </div>
                <div>
                    <p th:if="${user == null}">Created by
                        <a th:text="${subReddit.user.name}" th:href="@{'/user/posts?authorname=' + ${subReddit.user.name}}"></a>
                        at <span th:text="${subReddit.creationDate}"></span>
                    </p>
                    <p th:if="${user != null}">Created by
                        <a th:text="${subReddit.user.name}"
                           th:href="@{'/user/posts?authorname=' + ${subReddit.user.name}} + '&amp;username=' + ${user.name}"></a>
                        at <span th:text="${subReddit.creationDate}"></span>
                    </p>
                </div>
                <div>
                    <p th:if="${subReddit.posts != null or subReddit.posts.size() != 0}" th:text="${subReddit.posts.size()} + ' posts'"></p>
                    <p th:unless="${subReddit.posts != null or subReddit.posts.size() != 0}" th:text="'No posts yet'"></p>
                </div>
            </div>
        </div>
        <div class="subReddits-right">
            <div class="home-user side-item">
                <div id="deco-title">
                    <div id="reddit-icon">
                        <img style="width:50px;height:60px;" src="http://i.imgur.com/O1HZ1.jpg" />
                    </div>
                    <div>
                        <h3>Home</h3>
                    </div>
                </div>
                <div>Your personal Reddit frontpage. Come here to check in with your favorite communities. </div>
                <div th:if="${user != null}">
                    <a class="btn btn-warning create-post-button btn-block" th:href="@{'/createpost?username=' + ${user.name}}">Create Post</a>
                </div>
                <div th:if="${user == null}">
                    <a class="btn btn-warning create-post-button btn-block" onclick="createPostNotSignIn()">Create Post</a>
                </div>
            </div>
            <div class="hot-news side-item">
                Your personal Reddit frontpage. Come here to check in with your favorite communities.
            </div>
        </div>
    </div>
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<script>
    function createPostNotSignIn() {
        alert("Please sign in or sign up to create post!");
    }
    $(function() {
        $('.tooltip-wrapper').tooltip({position: "bottom"});
    });
</script>
</body>
</html>