<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SubReddits #</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/style.css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta charset="utf-8" />
</head>
<body>
    <div th:replace="home :: header"></div>
    <div class="subReddit">
    <h1 th:text="${subReddit.name}"></h1>
    <div class="subReddit-container">
        <div class="subReddit-container-inner">
            <div th:if="${subReddit.posts != null or subReddit.posts.size != 0}" class="subReddit-left"
                 th:each="post : ${subReddit.posts}">
                <div class="subReddit-posts" th:if="${post != null}">
                    <div class="vote-container">
                        <div th:if="${user == null}">
                            <div class="tooltip-wrapper disabled" data-title="Please login or sing up to vote!">
                                <button class="btn" name="upvote" disabled = "disabled">
                                    <span class="glyphicon glyphicon-thumbs-up"></span></button>
                            </div>
                        </div>
                        <form th:if="${user != null}" action="#"
                              th:action="@{'/upvote?username=' + ${user.name} + '&amp;postid=' + ${post.id}}" method="post">
                            <button th:if="${vote == null or vote.vote == -1}" class="btn" type="submit" name="upvote"
                                    th:value="${post.id}">
                                <span class="glyphicon glyphicon-thumbs-up"></span></button>
                            <button th:if="${vote != null and vote.vote == 1}" class="btn btn-success" type="submit"
                                    name="upvote" th:value="${post.id}">
                                <span class="glyphicon glyphicon-thumbs-up"></span></button>
                        </form>
                        <div class="vote-score" th:text="${post.score}"></div>
                        <div th:if="${user == null}">
                            <div class="tooltip-wrapper disabled" data-title="Please login or sing up to vote!">
                                <button class="btn" name="downvote" disabled = "disabled">
                                    <span class="glyphicon glyphicon-thumbs-down"></span></button>
                            </div>
                        </div>
                        <form th:if="${user != null}" action="#"
                              th:action="@{'/downvote?username=' + ${user.name} + '&amp;postid=' + ${post.id}}" method="post">
                            <div th:if="${vote == null or vote.vote == 1}"><button class="btn" type="submit"
                                                                                   name="downvote" th:value="${post.id}">
                                <span class="glyphicon glyphicon-thumbs-down"></span></button></div>
                            <div th:if="${vote != null and vote.vote == -1}"><button class="btn btn-danger" type="submit"
                                                                                     name="downvote" th:value="${post.id}">
                                <span class="glyphicon glyphicon-thumbs-down"></span></button></div>
                        </form>
                    </div>
                </div>
                <div class="content-container" th:if="${post != null}">
                    <div class="content-inner-container">
                        <div class="thumbnail">
                            <div th:if="${post.imageUrl == null and post.link == null and post.videoUrl == null}"
                                 class="image-in-post">
                                <img class="img-itself" th:src="@{/images/text-icon.svg}"/>
                            </div>
                            <div th:if="${post.imageUrl == null and post.link != null and post.videoUrl == null}"
                                 class="image-in-post">
                                <img class="img-itself" th:src="@{/images/link-icon.png}"/>
                            </div>
                            <div th:if="${post.imageUrl != null}" class="image-in-post">
                                <img class="img-itself" th:src="@{${post.imageUrl}}"/>
                            </div>
                            <div th:if="${post.videoUrl != null}" class="image-in-post">
                                <img class="img-itself" th:src="@{${post.videoThumbnail}}"/>
                            </div>
                        </div>
                        <div class="text-content">
                            <div class="title" th:if="${user != null}">
                                <a th:href="@{'/post?username=' + ${user.name} + '&amp;postid=' + ${post.id}}"
                                   th:text="${post.title}"></a>
                            </div>
                            <div class="title" th:if="${user == null}">
                                <a th:href="@{'/post?postid=' + ${post.id}}" th:text="${post.title}"></a>
                            </div>
                            <div th:if = "${user == null}" class="extra-info">Posted by
                                <a th:href= "@{'/user/posts?authorname=' + ${post.user.name}}"
                                   th:text="${post.user.name}"></a> at <span th:text="${post.creationDate}"></span> in
                                <a th:href="@{'/subReddit?subRedditName=' + ${post.subReddit.name}}" th:text="${post.subReddit.name}"></a>
                            </div>
                            <div th:if = "${user != null}" class="extra-info">Posted by
                                <a th:href= "@{'/user/posts?authorname=' + ${post.user.name}} + '&amp;username=' + ${user.name}"
                                   th:text="${post.user.name}"></a> at <span th:text="${post.creationDate}"></span> in
                                <a th:href="@{'/subReddit?username=' + ${user.name} + '&amp;subRedditName=' + ${post.subReddit.name}}" th:text="${post.subReddit.name}"></a>
                            </div>
                            <div class="comment-info" th:text="${post.getComments().size()} + ' comments'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subReddit-right">
            <div class="home-user side-item">
                <div id="deco-title">
                    <div id="reddit-icon">
                        <img style="width:50px;height:60px;" src="http://i.imgur.com/O1HZ1.jpg" />
                    </div>
                    <div>
                        <h3>Home</h3>
                    </div>
                </div>
                <div>Your personal Reddit frontpage. Come here to check in with your favorite communities. </div>
                <div th:if="${user != null}">
                    <a class="btn btn-warning create-post-button btn-block" th:href="@{'/createpost?username=' + ${user.name}}">Create Post</a>
                </div>
                <div th:if="${user == null}">
                    <a class="btn btn-warning create-post-button btn-block" onclick="createPostNotSignIn()">Create Post</a>
                </div>
            </div>
            <div class="hot-news side-item">
                Your personal Reddit frontpage. Come here to check in with your favorite communities.
            </div>
        </div>
    </div>
    </div>

<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<script>
    function createPostNotSignIn() {
        alert("Please sign in or sign up to create post!");
    }
    $(function() {
        $('.tooltip-wrapper').tooltip({position: "bottom"});
    });
</script>
</body>
</html>